extends ../../layouts/base-section/base-section

block variables
  -
    sectionTitle = "История премии"
    sectionDesc = 'Впишите ваш дилерский центр в новую историю автоотрасли';
    sectionCls = 'history';
    sectionID = 'history';
    sectionCollapsed = false;

block content
  p history

