.honor {
  &__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px 60px;
    align-items: flex-end;

    @include media-down(1240px) {
      display: flex;
      flex-direction: column-reverse;
      align-items: flex-start;
    }

    &-item {
      width: 100%;

      & > img {
        object-fit: contain;
        max-height: 600px;
        object-position: left;
      }
    }
  }

  &__list {
    @extend %list-reset;
    @extend %flex-column;
    gap: 30px;
    margin-bottom: 30px;

    container: honor-list / inline-size;

    li {
      @extend %flex-align;
      gap: 20px;
      font-size: 24px;
      font-weight: 700;
      text-transform: uppercase;

      @include media-down(1240px) {
        text-transform: initial;
      }

      @container honor-list (max-width: 600px) {
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
      }

      img {
        width: 60px;
        height: auto;
        object-fit: contain;


      }
    }

    & + small {
      font-size: 18px;
      color: #99a2ab;
    }
  }
}
