header.header
  .container.header__container
    a(href="index.html" aria-label="Обновить страницу").logo.header__logo
      img(src="./assets/images/logo.svg" alt="logo" width="120" height="60")

    include ../nav/nav

