nav.nav
  ul.nav__list
    li.nav__list-item
      a(href="#") Что готовит церемония
    li.nav__list-item
      a(href="#") Номинации 2024
    li.nav__list-item
      a(href="#") Что получают победители
    li.nav__list-item
      a(href="#") О премии
    li.nav__list-item
      a(href="#") Победители 2022
    li.nav__list-item
      a(href="#") FAQ
    li.nav__list-item
      a(href="#") Контакты
