nav.nav
  ul.nav__list
    li.nav__list-item
      a(href="#features") Что готовит церемония
    li.nav__list-item
      a(href="#nominations") Номинации 2024
    li.nav__list-item
      a(href="#honor") Что получают победители
    li.nav__list-item
      a(href="#about") О премии
    li.nav__list-item
      a(href="#winners") Победители 2022
    li.nav__list-item
      a(href="#faq") FAQ
    li.nav__list-item
      a(href="#contacts") Контакты
