extends ../../layouts/base-section/base-section

block variables
  -
    sectionTitle = "Номинации 2024"
    sectionDesc = '';
    sectionCls = 'nominations';
    sectionID = 'nominations';
    sectionCollapsed = false;

block content
  include ../../components/ui/cards/nomination-card/nomination-card
  .nominations__grid
    .nomination__grid-item
      +nomination-card({
        logo: 'auto-light-logo.svg',
        title: 'Организация продаж новых автомобилей',
        badge: 'По итогам 2023 года',
        content: '<p>Номинанты официальные дилеры и дилерские холдинги, осуществляющие продажу новых автомобилей на территории РФ. Холдинги будут группироваться по размеру бизнеса, а дилерские центры по региону присутствия.</p>'
      })
    .nomination__grid-item
      +nomination-card({
        logo: 'auto-light-logo.svg',
        title: 'Организация продаж автомобилей с пробегом',
        badge: 'По итогам 2023 года',
        content: '<p>Номинанты официальные дилеры и дилерские холдинги, осуществляющие продажу автомобилей с пробегом на территории РФ. Холдинги будут группироваться по размеру бизнеса, а дилерские центры по региону присутствия.</p>'
      })
    .nomination__grid-item
      +nomination-card({
        logo: 'auto-light-logo.svg',
        title: 'Организация сервиса',
        badge: 'По итогам 2023 года',
        content: '<p>Номинанты официальные дилеры и дилерские холдинги, осуществляющие сервисно-технические услуги на территории РФ. Холдинги будут группироваться по размеру бизнеса, а дилерские центры по региону присутствия.</p>'
      })
    .nomination__grid-item
      +nomination-card({
        logo: 'auto-light-logo.svg',
        title: 'Лучшая дилерская сеть',
        badge: 'По итогам 2023 года',
        content: '<p>Онлайн-опрос автовладельцев</p>'
      })
    .nomination__grid-item
      +nomination-card({
        logo: 'avito-nom-logo.svg',
        title: 'Клиентоориентированность',
        badge: 'За период с января по сентябрь 2024',
        content: `
          <p>Критерии:</p>
          <ul>
          <li>Наличие статуса “Проверенный партнер” </li>
          <li>Средний рейтинг на Авито за период размещения с января по сентябрь 2024 </li>
          <li>Наличие не менее 10 отзывов с оценкой</li>
          <li>Актуальность и достоверность объявлений в течение года, включая прозрачность и достоверность траслируемой цены.</li>
          <li>Отработка звонков и входящих сообщений</li>
          </ul>
          <p>Номинантами автоматически являются официальные дилеры, кто имеет активный кабинет на Авито.</p>
        `
      })
    .nomination__grid-item
      +nomination-card({
        logo: 'autohub-nom-logo.svg',
        title: 'Эффективные закупки',
        badge: 'За период с&nbsp;января по&nbsp;сентябрь 2024',
        content: `
          <p>Основные критерии:</p>
          <ul>
            <li>Изменение объемов склада</li>
            <li>Маржинальность GM1</li>
            <li>Сроки продажи и&nbsp;нахождения авто на&nbsp;складе</li>
            <li>Средняя стоимость авто</li>
          </ul>

          <p>Дополнительные критерии:</p>
          <ul>
            <li>Доля пропущенных звонков </li>
            <li>Работа с чатами</li>
            <li>Рейтинг дилера на&nbsp;Авито&nbsp;Авто </li>
          </ul>

          <p>Условие участия:</p>
          <ul>
            <li>
              Работа через систему Автохаб в течение года и наличие интеграции для корректного учета результатов по критериям выбора победителей.
            </li>
          </ul>

          <p>Подноминации:</p>
          <ol>
            <li>
              <span>Эффективные закупки. Канал «Trade-In»</span>
              <ul>
                <li>объем склада до&nbsp;100 авто </li>
                <li>объем склада от&nbsp;100 до&nbsp;250 </li>
                <li>объем склада от&nbsp;250 авто</li>
              </ul>
            </li>
            <li>
              <span>Эффективные закупки. Канал «Выкуп»</span>
              <ul>
                <li>объем склада до&nbsp;100 авто </li>
                <li>объем склада от&nbsp;100 до&nbsp;250 </li>
                <li>объем склада от&nbsp;250 авто</li>
              </ul>
            </li>

            <li>
              <span>Эффективные закупки. Смешанные каналы.</span>
              <ul>
                <li>объем склада до&nbsp;100 авто </li>
                <li>объем склада от&nbsp;100 до&nbsp;250 </li>
                <li>объем склада от&nbsp;250 авто</li>
              </ul>
            </li>
          </ul>
        `
      })
    .nomination__grid-item
      +nomination-card({
        logo: 'avito-nom-logo.svg',
        title: 'Маркетолог года',
        badge: 'По итогам конкурса 2024 года',
        content: '<p>Критерии:</p><ul><li>Прохождение конкурсных этапов отбора</li><li>Подготовка и защита кейса по результатам внедрений</li><li>Победитель выбирается по итогам максимальной суммы баллов, набранной в рамках конкурса</li></ul><p>Номинантами являются автомаркетологи всей РФ, подавшие заявку на участие в конкурсе "Маркетолог года 2024" по версии Авито Авто.</p>'
      })

  //- a(href="https://auto-marketolog.avito.com/" class="main-btn" rel="nofollow noopener norefferer" target="_blank") Подать заявку
