extends ../../layouts/base-section/base-section

block variables
  -
    sectionTitle = "Номинации 2024"
    sectionDesc = '';
    sectionCls = 'nominations';
    sectionID = 'nominations';
    sectionCollapsed = false;

block content
  p nominations

