extends ../../layouts/base-section/base-section

block variables
  -
    sectionTitle = "Номинации 2024"
    sectionDesc = '';
    sectionCls = 'nominations';
    sectionID = 'nominations';
    sectionCollapsed = false;

block content
  include ../../components/ui/cards/nomination-card/nomination-card
  .nominations__grid
    .nomination__grid-item
      +nomination-card({
        logo: 'auto-light-logo.svg',
        title: 'Организация продаж новых автомобилей',
        badge: 'По итогам 2023 года',
        content: '<p>Номинанты официальные дилеры и дилерские холдинги, осуществляющие продажу новых автомобилей на территории РФ. Холдинги будут группироваться по размеру бизнеса, а дилерские центры по региону присутствия.</p>'
      })
    .nomination__grid-item
      +nomination-card({
        logo: 'auto-light-logo.svg',
        title: 'Организация продаж автомобилей с пробегом',
        badge: 'По итогам 2023 года',
        content: '<p>Номинанты официальные дилеры и дилерские холдинги, осуществляющие продажу автомобилей с пробегом на территории РФ. Холдинги будут группироваться по размеру бизнеса, а дилерские центры по региону присутствия.</p>'
      })
    .nomination__grid-item
      +nomination-card({
        logo: 'auto-light-logo.svg',
        title: 'Организация сервиса',
        badge: 'По итогам 2023 года',
        content: '<p>Номинанты официальные дилеры и дилерские холдинги, осуществляющие сервисно-технические услуги на территории РФ. Холдинги будут группироваться по размеру бизнеса, а дилерские центры по региону присутствия.</p>'
      })
    .nomination__grid-item
      +nomination-card({
        logo: 'auto-light-logo.svg',
        title: 'Лучшая дилерская сеть',
        badge: 'По итогам 2023 года',
        content: '<p>Онлайн-опрос автовладельцев</p>'
      })
    .nomination__grid-item
      +nomination-card({
        logo: 'auto-light-logo.svg',
        title: 'Клиентоориентированность Авито Авто',
        badge: 'За период с января по сентябрь 2024',
        content: '<p>Критерии:</p><ul><li>Доля выкупа от всех поступлений</li><li>Участие трейд-апа в сделках/ Доля trade-up</li><li>Оборачиваемость авто</li><li>Прирост к прошлому году по складу</li><li>Скорость реагирования на новые объявления</li></ul><p>Номинантами автоматически являются дилеры, работающие со складом через Автохаб.</p>'
      })
    .nomination__grid-item
      +nomination-card({
        logo: 'auto-light-logo.svg',
        title: 'Эффективные закупки Автохаб',
        badge: 'За период с января по сентябрь 2024',
        content: '<p>Критерии:</p><ul><li>Доля выкупа от всех поступлений</li><li>Участие трейд-апа в сделках/ Доля trade-up</li><li>Оборачиваемость авто</li><li>Прирост к прошлому году по складу</li><li>Скорость реагирования на новые объявления</li></ul><p>Номинантами автоматически являются дилеры, работающие со складом через Автохаб.</p>'
      })
    .nomination__grid-item
      +nomination-card({
        logo: 'auto-light-logo.svg',
        title: 'Маркетолог года Авито Авто',
        badge: 'По итогам конкурса 2024 года',
        content: '<p>Критерии:</p><ul><li>Прохождение конкурсных этапов отбора</li><li>Подготовка и защита кейса по результатам внедрений</li><li>Победитель выбирается по итогам максимальной суммы баллов, набранной в рамках конкурса</li></ul><p>Номинантами являются автомаркетологи всей РФ, подавшие заявку на участие в конкурсе "Маркетолог года 2024" по версии Авито Авто.</p>'
      })

  a(href="https://auto-marketolog.avito.com/" class="main-btn" rel="nofollow noopener norefferer" target="_blank") Подать заявку
