extends ../../layouts/base-section/base-section

block variables
  -
    sectionTitle = "трансляция"
    sectionDesc = '';
    sectionCls = 'translation';
    sectionID = 'translation';
    sectionCollapsed = false;

block content
  .video-block
