:root {
  --primary-font: 'Aeroport', sans-serif;

  // font weights
  --fw-h: 900; // heavy
  --fw-xb: 800; // extra bold
  --fw-b: 700; // bold
  --fw-sb: 600; // semi bold
  --fw-m: 500; // medium
  --fw-r: 400; // regular
  --fw-l: 300; // light
  --fw-xl: 200; // extra light
  --fw-t: 100; // thin

  // line heights
  --base-line-height: 1.2;
}
