extends ../../layouts/base-section/base-section

block variables
  -
    sectionTitle = "FAQ"
    sectionDesc = '';
    sectionCls = 'faq';
    sectionID = 'faq';
    sectionCollapsed = false;

block content
  include ../../components/ui/main-accordeon/main-accordeon

  +main-accordeon({
      items: [
        {
          title: 'Особенности регистрации',
          text: 'В течение 24 часов после отправки заявки вам на указанный e-mail придёт подтверждение на выбранный вами формат участия. Если письма нет во входящих и в папке «Спам», напишите нам на events@avito.ru — вышлем ещё одно приглашение.'
        },
        {
          title: 'Очное посещение мероприятия',
          text: 'Возможно только по приглашению персонального менеджера Авито или сотрудников Автостат.<br>Также мы просим взять с собой документ, подтверждающий вашу личность для верификации регистрации.'
        },
        {
          title: 'Будет ли онлайн-трансляция',
          text: 'К церемонии можно будет присоединиться и в онлайн-формате. Необходимо также зарегистрироваться на нужный вам формат и учесть часовой пояс проведения - по МСК. Регистрация на онлайн-формат без ограничения.'
        },
        {
          title: 'Как получить ссылку на онлайн-трансляцию',
          text: 'Вам необходимо подать заявку на данном сайте.<br>В течение 24-часов после подачи заявки вы получите подтверждение на указанную почту, далее мы будем напоминать вам о мероприятии.<br>В день трансляции вы получите персональные логин и пароль для подключения'
        },
        {
          title: 'Место проведения',
          text: 'Ждём вас в VK Stadium: г. Москва, Ленинградский проспект, 80к17<br><a href="https://yandex.ru/maps/-/CDDeISI7">Посмотреть на карте</a><br>Предусмотрена только городская парковка'
        },
        {
          title: 'Сколько продлится мероприятие',
          text: 'Для офлайн-гостей: Сбор гостей начнется в 18:00, торжественная церемония с 19:00 до 21:00, после 21:00 after-party и выступление спецгостя<br><br>Для участников онлайн-трансляции: старт трансляции в 19:00 до 21:00, c 21:00 до 22:00 - выступление спецгостя'
        }
      ]
    })

