extends ../../layouts/base-section/base-section

block variables
  -
    sectionTitle = "FAQ"
    sectionDesc = '';
    sectionCls = 'faq';
    sectionID = 'faq';
    sectionCollapsed = false;

block content
  include ../../components/ui/main-accordeon/main-accordeon

  +main-accordeon({
      items: [
        {
          title: 'Особенности регистрации',
          text: 'В течение 24 часов после отправки заявки вам на указанный e-mail придёт подтверждение на выбранный вами формат участия. <br><span>Если письма нет во входящих и в папке «Спам», напишите нам на <a href="mailto:events@avito.ru">events@avito.ru</a> — вышлем ещё одно приглашение.</span> <br>Количество мест в офлайн-формате ограничено, не откладывайте регистрацию.'
        },
        {
          title: 'Очное посещение мероприятия',
          text: 'Возможно только после получения онлайн-подтверждения на указанный вами e-mail.<br>Также мы просим взять с собой документ, подтверждающий вашу личность для верификации регистрации.<br>Если вы собираетесь на мероприятие с коллегами, каждому необходимо зарегистрироваться отдельно.'
        },
        {
          title: 'Место проведения',
          text: 'Ждем вас в BOUNCE: Москва, 3-я ул. Ямского поля, д. 2 к. 22<br><a href="https://yandex.ru/maps/-/CDcxrTNX" target="_blank" rel="noopener nofollow norefferer">Посмотреть на карте</a><small>Предусмотрена только городская парковка</small>'
        },
        {
          title: 'Будет ли онлайн-трансляция',
          text: 'Да, к части конференции можно будет присоединиться и в онлайн-формате. <br>Необходимо также зарегистрироваться на нужный вам формат и учесть часовой пояс проведения - по МСК'
        },
        {
          title: 'Сколько продлится конференция',
          text: 'В 13:00 по МСК начнется сбор гостей, в 18:00 - финал деловой части конференции и начало афтер-пати'
        }
      ]
    })

