extends ../../layouts/base-section/base-section

block variables
  -
    sectionTitle = "FAQ"
    sectionDesc = '';
    sectionCls = 'faq';
    sectionID = 'faq';
    sectionCollapsed = false;

block content
  include ../../components/ui/main-accordeon/main-accordeon

  +main-accordeon({
      items: [
        {
          title: 'Особенности регистрации',
          text: 'В течение 24 часов после отправки заявки вам на указанный e-mail придёт подтверждение на онлайн-формат участия. Если письма нет во входящих и в папке «Спам», напишите нам на events@avito.ru — вышлем ещё одно приглашение.'
        },
        {
          title: 'Очное посещение мероприятия',
          text: 'Возможно только по приглашению персонального менеджера Авито или сотрудников Автостат.'
        },
        {
          title: 'Как получить ссылку на онлайн-трансляцию',
          text: 'После регистрации на данном сайте вы получите подтверждение на указанную почту, далее мы будем напоминать вам о мероприятии.<br>Трансляция будет доступна на этом же сайте 8 октября в 19:00 по Мск'
        },
        {
          title: 'Место проведения',
          text: 'Ждём вас в <a href="https://yandex.ru/maps/-/CDDeISI7" target="_blank" style="display:inline;">VK Stadium</a>: г. Москва, Ленинградский проспект, 80к17<br><a href="https://yandex.ru/maps/-/CDDeISI7">Посмотреть на карте</a><br>Предусмотрена только городская парковка'
        },
        {
          title: 'Сколько продлится мероприятие',
          text: 'Для офлайн-гостей: Сбор гостей начнется в 18:00, торжественная церемония с 19:00 до 21:00, после 21:00 after-party и выступление спецгостя<br>Для участников онлайн-трансляции: старт трансляции в 19:00 до 21:00'
        }
      ]
    })

