extends ../layouts/modals/main-modal

block variables
  - modalId = "success-modal"
  - modalClasses = "success-modal"

block modalContent
  span.base-title Спасибо !
  span.base-subtitle Мы свяжемся в вами в ближайшее время!
