extends ../../layouts/base-section/base-section

block variables
  -
    sectionTitle = "Фотогалерея"
    sectionDesc = '';
    sectionCls = 'gallery';
    sectionID = 'gallery';
    sectionCollapsed = false;

block content
  .swiper.gallery-slider
    .swiper-wrapper
      .swiper-slide
        img(src="./assets/images/winner-1.png" alt="Победители" width="1680" height="720")
      .swiper-slide
        img(src="./assets/images/winner-2.png" alt="Победители" width="1680" height="720")
      .swiper-slide
        img(src="./assets/images/winner-3.png" alt="Победители" width="1680" height="720")
      .swiper-slide
        img(src="./assets/images/winner-4.png" alt="Победители" width="1680" height="720")
      .swiper-slide
        img(src="./assets/images/winner-5.png" alt="Победители" width="1680" height="720")
      .swiper-slide
        img(src="./assets/images/winner-6.png" alt="Победители" width="1680" height="720")
      .swiper-slide
        img(src="./assets/images/winner-7.png" alt="Победители" width="1680" height="720")
      .swiper-slide
        img(src="./assets/images/winner-8.png" alt="Победители" width="1680" height="720")
      .swiper-slide
        img(src="./assets/images/winner-9.png" alt="Победители" width="1680" height="720")
      .swiper-slide
        img(src="./assets/images/winner-10.png" alt="Победители" width="1680" height="720")
      .swiper-slide
        img(src="./assets/images/winner-11.png" alt="Победители" width="1680" height="720")
      .swiper-slide
        img(src="./assets/images/winner-12.png" alt="Победители" width="1680" height="720")
      .swiper-slide
        img(src="./assets/images/winner-13.png" alt="Победители" width="1680" height="720")
      .swiper-slide
        img(src="./assets/images/winner-14.png" alt="Победители" width="1680" height="720")
      .swiper-slide
        img(src="./assets/images/winner-15.png" alt="Победители" width="1680" height="720")
      .swiper-slide
        img(src="./assets/images/winner-16.png" alt="Победители" width="1680" height="720")
      .swiper-slide
        img(src="./assets/images/winner-17.png" alt="Победители" width="1680" height="720")
      .swiper-slide
        img(src="./assets/images/winner-18.png" alt="Победители" width="1680" height="720")
      .swiper-slide
        img(src="./assets/images/winner-19.png" alt="Победители" width="1680" height="720")
      .swiper-slide
        img(src="./assets/images/winner-20.png" alt="Победители" width="1680" height="720")
      .swiper-slide
        img(src="./assets/images/winner-21.png" alt="Победители" width="1680" height="720")
      .swiper-slide
        img(src="./assets/images/winner-22.png" alt="Победители" width="1680" height="720")
      .swiper-slide
        img(src="./assets/images/winner-23.png" alt="Победители" width="1680" height="720")
      .swiper-slide
        img(src="./assets/images/winner-24.png" alt="Победители" width="1680" height="720")


    .swiper-pagination
    .swiper-button-prev
    .swiper-button-next
