.main-input {
  @extend %flex-column;
  gap: 8px;

  label {
    font-weight: 500;
    font-size: clamp(18px, 3vw, 24px);
    color: #99a2ab;
  }

  input {
    border-radius: 10px;
    border: 2px solid #99a2ab;
    padding: 14px 20px 10px;
    min-height: 50px;
    font-size: 16px;
    width: 100%;

    &::placeholder {
      font-size: 16px;
      line-height: 1;
      color: #99a2ab;
    }
  }
}
