.main-checkbox {
  width: 100%;
  a {
    color: var(--white);
    text-decoration: underline;
  }

  input[type="checkbox"]  {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

  label {
    display: block;
    position: relative;
    padding-left: 30px;
    cursor: pointer;

    &::before {
      position: absolute;
      top: -3px;
      left: 0;
      content: "";
      width: 20px;
      height: 20px;
      border: 1px solid var(--white);
      border-radius: 3px;
      margin-right: 10px;
    }

    &:has(input[type="checkbox"]:checked) {
      &::before {
        background-image: url("../assets/images/icon-check.svg");
        background-repeat: no-repeat;
        background-size: 16px 12px;
        background-position: center;
      }
    }
  }
}
