include ../../main-input/main-input
//- include ../../main-сheckbox/main-checkbox
include ../../main-checkbox/main-checkbox

.offer-form
  form(action="#" method="POST")
    span.base-title Регистрация

    +main-input({
      placeholder: 'ФИО*',
      id: 'user_name',
      required: true
    })
    fieldset
      +main-input({
        placeholder: 'ДЦ',
        id: 'user_dc',
      })
      +main-input({
        placeholder: 'Должность',
        id: 'user_position',
      })
    fieldset
      +main-input({
        placeholder: 'Телефон*',
        id: 'user_phone',
        type: 'tel',
        required: true
      })
      +main-input({
        placeholder: 'E-mail*',
        id: 'user_mail',
        required: true
      })

    +main-checkbox({
      label: 'Отправляя заявку, вы соглашаетесь с&nbsp;<a href="https://www.avito.ru/safety/personal/company" target="_blank">политикой конфиденциальности</a>',
      id: 'user-policy'
    })

    //- span.policy Отправляя заявку, вы соглашаетесь с&nbsp;<a href="https://www.avito.ru/safety/personal/company" target="_blank">политикой конфиденциальности</a>
    small.offer-form__note *Очное посещение мероприятия возможно только по приглашению персонального менеджера Авито или сотрудников Автостат.

    input(type="submit" value="Регистрация на онлайн-трансляцию премии").main-btn
