section.subscribe#subscribe
  .container
    .subscribe__grid
      .subscribe__grid-item
        h2.base-title Подпишитесь на наши Telegram-каналы, чтобы не упустить важное:
      .subscribe__grid-item
        a(href="https://t.me/avito_auto_pro" rel="nofollow rereferrer noopener" target="_blank").subscribe__link
          img(src="./assets/images/icon-tg.svg" width="24" height="24" alt="tg")
          span Авито Авто для экспертов
        a(href="https://t.me/avito_auto_pro_awards" rel="nofollow rereferrer noopener" target="_blank").subscribe__link
          img(src="./assets/images/icon-tg.svg" width="24" height="24" alt="tg")
          span Канал Премии
        a(href="https://t.me/autostat_events" el="nofollow rereferrer noopener" target="_blank").subscribe__link
          img(src="./assets/images/icon-tg.svg" width="24" height="24" alt="tg")
          span Канал Автостат

