section.subscribe#subscribe
  .container
    .subscribe__grid
      .subscribe__grid-item
        h2.base-title Подпишитесь на наши Telegram-каналы, чтобы не упустить важное:
      .subscribe__grid-item
        a(href="#" aria-label="" rel="nofollow rereferrer noopener").subscribe__link
          img(src="./assets/images/icon-tg.svg" width="24" height="24" alt="tg")
          span Авито Авто для экспертов
        a(href="#" aria-label="" rel="nofollow rereferrer noopener").subscribe__link
          img(src="./assets/images/icon-tg.svg" width="24" height="24" alt="tg")
          span Канал Премии
        a(href="#" aria-label="" rel="nofollow rereferrer noopener").subscribe__link
          img(src="./assets/images/icon-tg.svg" width="24" height="24" alt="tg")
          span Канал Автостат

