.organization {
  &__grid {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 30px;

    @include media-down($laptop-width) {
      grid-template-columns: 1fr;
    }
  }

  &__card {
    @extend %flex-column;
    align-items: center;
    gap: 20px;
    padding: 30px;
    color: var(--white);
    background-image: url("../assets/images/section-bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    &-logo {
      height: 100%;
      max-height: 80px;
      width: auto;

      img {
        height: 100%;
        object-fit: contain;
      }
    }

    p {
      margin-bottom: 0;
    }
  }
}
