extends ../../layouts/base-section/base-section

block variables
  -
    sectionTitle = "Организаторы"
    sectionDesc = '';
    sectionCls = 'organization';
    sectionID = 'organization';
    sectionCollapsed = false;

block content
  .organization__grid
    .organization__card
      a(href="https://avito.ru/" target="_blank" rel="noopener nofollow noopener").organization__card-logo
        img(src="./assets/images/avito-logo.svg" alt="logo" width="320" height="80")

      p «Авито Авто» — сайт номер один в России для продажи автомобилей согласно опросу агентства «АВТОСТАТ» и журнала «За рулем». В 2018 году доля Авито на рынке продажи автомобилей России составляла 44%. В раздел Авто заходит каждый третий посетитель Авито (согласно данным Mediascope по городам с населением свыше 100 000 человек). В течение месяца посетители просматривают страницы Авито Авто 4,1 млрд раз.
    .organization__card
      a(href="https://autostat.ru/" target="_blank" rel="noopener nofollow noopener").organization__card-logo
        img(src="./assets/images/auto-logo.svg" alt="logo" width="320" height="80")

      p Ведущее аналитическое агентство в сфере статистики и аналитики автомобильного бизнеса России. Более 15 лет компания анализирует данные о производстве автомобилей, автомобильном рынке, парке, импорте и экспорте. Агентство проводит опросы автовладельцев и экспертов автомобильного бизнеса, выпускает маркетинговые отчеты по различным сегментам российского авторынка, организовывает конференции и обучающие семинары.

