extends ../../layouts/base-section/base-section

block variables
  -
    sectionTitle = "Отзывы"
    sectionDesc = '';
    sectionCls = 'reviews';
    sectionID = 'reviews';
    sectionCollapsed = false;

block content
  include ../../components/ui/cards/review-card/review-card

  .swiper.main-slider
    .swiper-wrapper
      .swiper-slide
        +review-card({
          text: `Победа стала для нас второй, по итогам работы 2018 года мы также заняли первой место в номинации «Организация сервиса». При этом, компания Тойота Мотор, третий год подряд признает нас лучшими в дилерской сети. Считаем, что это плоды регулярной работы по совершенствованию. Придерживаемся стратегии непрерывного улучшения наших бизнес-процессов и стараемся вовлечь персонал в достижение результата. Принцип – сделай сегодня лучше, чем сделал вчера, чтобы стать успешным завтра.
          <br><br>
          Подтверждение статуса эффективного дилера значит, что наши идеи и старания по улучшению работы с клиентами дают результаты и мы все делаем правильно. Это также подкрепляется отзывами клиентов, удовлетворенностью сотрудников и выручкой.`,

          user: {
            avatar: 'user-1.png',
            name: 'Василий Аверьянов',
            role: 'Директор Тойота Центр Вологда (компания МАРТЕН)'
          }
        })
      .swiper-slide
        +review-card({
          text: `Компания активно работала над построением процессов, много времени уделяла развитию и обучению сотрудников и, как следствие, слаженный коллектив смог добиться высоких результатов и стать победителем.
                <br><br>
                Получение награды - это всегда приятно, а звание «Лучшего дилера» подкрепляет уверенность в том, что компания движется в правильном направлении, а признание проделанной работы еще больше мотивирует на будущее.`,
          user: {
            avatar: 'user-2.png',
            name: 'Александр Чертков',
            role: 'Технический директор КЛЮЧАВТО Сочи'
          }
        })
      .swiper-slide
        +review-card({
          text: `
            С каждым днём мы укрепляем свои позиции благодаря высокому качеству обслуживания, подходя к этому с большой ответственностью, максимально быстро адаптируясь к условиям экономики и повышая уровень оказываемых услуг. Наша компания неоднократно номинировалась и получала награды в конкурсе «Автодилер года». Это признание подтверждает правильность выбранного курса, а также мотивирует на новые цели.
            <br><br>
            В нашем распоряжении есть всё необходимое для достижения поставленных целей – команда профессионалов, любящих своё дело, знание рынка, хорошая репутация многолетней истории Аксель Групп, начатой двадцать лет назад и динамично развивающейся по сегодняшний день, и, конечно, клиенты, которые на протяжении многих лет остаются с нами.
          `,

          user: {
            avatar: 'user-3.png',
            name: 'Андрей Кузьмин',
            role: 'Административный директор ГК Аксель Групп'
          }
        })
      .swiper-slide
        +review-card({
          text: `
            Для нас награда «АВТОДИЛЕР ГОДА – 2020» – важное достижение и показатель эффективности работы нашей команды. Я благодарен всем подразделениям сервиса наших дилерских центров. Именно благодаря слаженной работе команды профессионалов нам удается радовать клиентов безупречным обслуживанием, получать признание лидеров отрасли и быть удостоенными этой почетной награды.
            <br><br>
            В планах на 2020 год дальнейшее развитие сервисно-технического направления в компании. Нам есть куда стремиться, мы видим цели и идем к ним. Тем более, получив награду «АВТОДИЛЕР ГОДА – 2020» в номинации сервисного обслуживания мы задали сами себе определенную планку, ниже которой уже нельзя опускаться – дальше только вперед. Но сейчас наша первостепенная задача – обеспечить безопасную работу сервисов с соблюдением всех требований и гарантировать безопасность наших клиентов и сотрудников.
          `,

          user: {
            avatar: 'user-4.png',
            name: 'Игорь Серебряков',
            role: 'Директор департамента послепродажного обслуживания ГК «АвтоСпецЦентр»'
          }
        })
      .swiper-slide
        +review-card({
          text: `
            Хорошая обученная команда специалистов всех отделов салона, сильный и грамотный руководящий состав, и состав директоров - это, пожалуй, главный залог успеха! Мы никогда не останавливаемся на достигнутых результатах и всегда стараемся быть еще лучше для наших клиентов. Поэтому наш автоцентр и побеждает в данной номинации уже второй год подряд!
            <br><br>
            В первую очередь эта награда является годовой оценкой нашей работы на всероссийском уровне и эта оценка - «ОТЛИЧНО». Все силы, старания нашей команды потрачены не в пустую и мы горды этой очередной победой. Эта награда позволит освежить наш командный дух, повысит уровень доверия к нам наших клиентов и позволит нам достигать еще более лучших результатов.
          `,

          user: {
            avatar: 'user-5.png',
            name: 'Евгений Колпащиков',
            role: 'Руководитель отдела автомобилей с пробегом Хендэ Автоцентр Кемерово (Сибинпекс)'
          }
        })
      .swiper-slide
        +review-card({
          text: `
            Победу в категории премиальных автомобилей с пробегом наша компания одерживает второй год подряд, а зачастую сохранить лидирующие позиции гораздо труднее, чем занять их впервые. Поэтому наша задача была нарастить темпы роста продаж автомобилей с пробегом и увеличить наполняемость склада, при этом не понести потерь в качестве оказываемого сервиса. Так же на руку нам пришелся рост продаж автомобилей Mercedes Benz в нашем регионе и лояльная Клиентская база. Наши Клиенты зачастую покупают у нас не 1 автомобиль и рекомендуют нас друзьям, что так же нашло отражение в приросте реализованных автомобилей.
            <br><br>
            Такая авторитетная и ценная награда пришлась очень кстати и заряжает коллектив на новые победы, несмотря на сложившуюся психологически непростую ситуацию. Очень ценно решение о добавлении значка "Автодилер Года" в наш магазин в AVITO - теперь наши Клиенты получат дополнительную уверенность, что они работают с командой профессионалов и их риски минимальны. Наша задача на текущий год- сохранить лидирующие позиции и работать так, чтобы любой наш Клиент мог сказать, что награду "Автодилер года" мы получили не зря. Впереди новые победы и 2020 год еще имеет шансы стать успешнее предыдущего!
          `,

          user: {
            avatar: 'user-6.png',
            name: 'Алексей Тарасов',
            role: 'Генеральный директор МБ КАН АВТО и КАН АВТО ЭКСПЕРТ Premium'
          }
        })
      .swiper-slide
        +review-card({
          text: `
            Благодарим организаторов за их колоссальную работу по созданию премии, которая ежегодно позволяет автодилерам развиваться, опираясь на результаты и опыт «коллег по цеху», дорабатывать пробелы, становиться лучше, прежде всего для наших клиентов.
            <br><br>
            Нашему дилерскому центру в 2020 году исполнилось всего 2 года и, безусловно, мы рады быть победителями в номинации «Организация продаж автомобилей с пробегом». Данных результатов нам удалось достичь благодаря слаженной работе всей нашей команды, огромному опыту в сфере продаж автомобилей с пробегом сети Fresh Auto, а также доверию клиентов, которое мы завоевали за годы честной и качественной работы.
            <br><br>
            Победа в данной номинации была для нашей компании приятной неожиданностью. Конечно, мы предполагали, что имеем серьезные шансы, но все же доля сомнения всегда присутствует при участии в подобных мероприятиях. Бесспорно, мы рады, что нам удалось доказать и себе, и коллегам-дилерам, что мы являемся лучшими в продаже автомобилей с пробегом.
          `,

          user: {
            avatar: 'user-7.png',
            name: 'Александр Смольянин',
            role: 'Руководитель KIA Fresh Auto (Воронеж)'
          }
        })
      .swiper-slide
        +review-card({
          text: `
            Успех в первую очередь рождается благодаря сильной, профессиональной и целеустремленной команде. Автосалон Toyota Центр Красноярск и группа компаний «Медведь Холдинг» могут гордиться именно такой командой, чей ответственный подход к выполнению поставленных задач, а также неизменное следование принципа «Клиент на первом месте» позволяют добиваться стабильных показателей продаж в своем сегменте и высокого уровня клиентской удовлетворенности.
            <br><br>
            Завоевание такой престижной награды для нас – это конечно же признание и подтверждение достижения высоких показателей компании и работы всего коллектива на уровне всей страны. Мы очень рады этому событию, но не собираемся останавливаться на достигнутом. Перед нами стоит очень ответственная задача – держать этот уровень и дальше для наших дорогих клиентов.
          `,

          user: {
            avatar: 'user-8.png',
            name: 'Роман Головков',
            role: 'Директор Тойота Центр Красноярск (Медведь Холдинг)'
          }
        })
      .swiper-slide
        +review-card({
          text: `
            Победа нашей компании в этом году – это результат внедрения очередного этапа глобальной стратегии Инчкейп – Игнайт в России. Смысл этой стратегии – сбалансированное развитие и рост в ключевых направления: повышение лояльности клиентов, развитие и укрепление партнерских отношение с нашими бренд партнерами, эффективный рост послепродажного обслуживания и бизнеса автомобилей с пробегом темпами опережающие продажи новых автомобилей, эффективное использования масштабов и ресурсов компании, а также взвешенный подход к инвестициям.
            <br><br>
            Хочу также отметить, что мы часть крупнейшей международной компании в авторитейле, что является неоспоримым преимуществом – ведь мы используем опыт, технологии и практики, которые зарекомендовали себя на других рынках.
            <br><br>
            Основа любой победы – квалифицированные профессионалы, и Инчкейп Россия сегодня – это именно команда специалистов высочайшего уровня с высокой мотивацией и стремлением быть лидерами.
            <br><br>
            Для сотрудников компании эта награда – дополнительный повод для гордости, символ успеха, подтверждение всем усилиям, которые прикладывали команды на пути к результату.
          `,

          user: {
            avatar: 'user-9.png',
            name: 'Тимофей Гераськин',
            role: 'Директор Инчкейп Россия'
          }
        })
      .swiper-slide
        +review-card({
          text: `
            Хочу поблагодарить организаторов премии за проделанную работу и отличную организацию в онлайн-формате. Всё прошло на высшем уровне!
            <br><br>
            Для нас победа в номинации «Организация продаж автомобилей с пробегом» является большим достижением. Думаю, что секрет успеха КЛЮЧАВТО-Select заключается в нашей команде и в том, что мы постоянно улучшаем нашу работу, стремясь соответствовать тенденциям рынка.
            <br><br>
            Звание «Лучшего дилера» – это прежде всего показатель эффективной работы нашей команды. Для нас это стимул не останавливаться на достигнутых результатах и покорять новые высоты.
            <br><br>
            Сейчас важно соответствовать требованиям рынка и потребителя. Мы делаем ставку на эффективность программы трейд-ин, онлайн-сервисы, по-новому смотрим на процессы, видим перспективы и находим решения.
          `,

          user: {
            avatar: 'user-10.png',
            name: 'Александр Булатов',
            role: 'Руководитель КЛЮЧАВТО-Select'
          }
        })
      .swiper-slide
        +review-card({
          text: `
            В премии участвуют почти все дилерские предприятия России и среди них много сильных и достойных дилеров. Для победы необходимо сложить большое количество факторов, иногда не на 100% зависящих от нас. На протяжении нескольких лет мы стремились к этому. Сейчас команда набрала достаточно опыта, чтобы добиться победы.
            <br><br>
            Номинация "Организация продаж новых автомобилей в массовом сегменте на юге России" - это очень приятный приз, подтверждающий, что прошлый год мы двигались в правильном направлении. Вдвойне приятно, что наши результаты были так же отмечены импортером в той же номинации. Конечно, награда воодушевила весь наш коллектив и мы продолжим стремиться к новым достижениям, прикладывая максимум усилий для того, что бы одержать победу и в следующем году.
          `,

          user: {
            avatar: 'user-11.png',
            name: 'Артем Полосин',
            role: 'Управляющий директор Хендэ КЛЮЧАВТО Ставрополь'
          }
        })
      .swiper-slide
        +review-card({
          text: `
            Прежде всего, хочу поблагодарить организаторов премии Автодилер Года. Бенчмарк помогает нам сравнить свою эффективность с самыми сильными конкурентами и находить резервы, чтобы работать лучше. Конкурс включает ключевые направления работы дилерских предприятий – продажи новых автомобилей, автомобилей с пробегом, сервисное обслуживание. В сегодняшних условиях жесточайшей конкуренции на рынке автодилер может быть успешен только если эффективно работает во всех трех направлениях. И с самого основания премии «Автодилер года» нам ежегодно удается побеждать во всех номинациях конкурса.
            <br><br>
            Факторы нашего успеха? Их много. Это и почти 29-летний опыт работы на российском автомобильном рынке, и лучшая команда амбициозных профессионалов, и, конечно, это стремление завтра быть лучше самих себя сегодня, всегда искать новые пути и способы быть более эффективными. Мы всегда ставим для себя амбициозные цели, которые даже могут показаться кому-то невыполнимыми, а для нас это - дополнительный драйвер и энергия.
            <br><br>
            Момент, когда твоя компания становится лучшей на рынке – всегда волнителен и приятен. РОЛЬФ на протяжении многих лет остается лидером российского автомобильного рынка, мы гордимся своей эффективностью, и для нас победа в ведущем конкурсе нашей отрасли - это дело чести. Поскольку мы постоянно отслеживаем ситуацию на рынке и обмениваемся информацией с другими ключевыми игроками, мы понимаем, что заслужили те награды, которые получили наши дилерские центры.
          `,

          user: {
            avatar: 'user-12.png',
            name: 'Виталий Шония',
            role: 'Руководитель отдела маркетинга новых автомобилей компании РОЛЬФ'
          }
        })
      .swiper-slide
        +review-card({
          text: `
            Во-первых, холдинг Лада-Сервис является одним из крупнейших автодилеров на рынке розничной торговли автомобилями LADA в России (с долей рынка более 6% от всех продаж LADA и до 20% сервисных услуг для автомобилей LADA в России).
            <br><br>
            Во-вторых, Лада-Сервис является преемником системы АвтоВАЗтехобслуживание, которой в прошлом году исполнилось 50 лет. За прошедшие годы мы переживали взлёты и падения, становясь сильнее и опытнее.
            <br><br>
            Несмотря на возраст, мы продолжаем развиваться, не стоим на месте. Внедряем новые технологии взаимодействия с клиентами, стараемся по возможности предугадывать стандарты автомобильного бизнеса. Такой подход позволяет нам сохранять свои позиции, быть в числе лучших дилеров бренда.
            <br><br>
            Получение высокой награды означает достойную оценку труда всех работников нашего Холдинга. Не позволяет расслабиться и снизить планку оказания услуг в сфере продаж и сервиса!
          `,

          user: {
            avatar: 'user-13.png',
            name: 'Александр Бредихин',
            role: 'Генеральный директор АО «Лада-Сервис»'
          }
        })
      .swiper-slide
        +review-card({
          text: `
            Рейтинг «Автодилер года» - это почетное и популярное мероприятие, без которого жизнь автодилеров уже сложно представить, это ежегодное долгожданное событие для всех.
            <br><br>
            «Авилон» всегда занимает лидирующие позиции в отрасли. За время своего существования автомобильная группа получила свыше 100 титулов «Лучший дилер». Мы считаем, что лидерам важно ставить для себя высокую планку и следовать ей. Мы стремимся предоставлять клиенту продукт качественно и по самым высоким стандартам.
            <br><br>
            Для нас награда и звание «Лучший дилер» - это, конечно же, признание и подтверждение того, что мы придерживаемся верной стратегии в развитии, мы невероятно гордимся этим достижением. Звание «Лучший дилер» укрепляет интерес со стороны клиентов и импортеров, они доверяют нам как партнерам.
          `,

          user: {
            avatar: 'user-14.png',
            name: 'Андрей Каменский',
            role: 'Директор по маркетингу Авилон'
          }
        })
