extends ../../layouts/base-section/base-section

block variables
  -
    sectionTitle = "Отзывы"
    sectionDesc = '';
    sectionCls = 'reviews';
    sectionID = 'reviews';
    sectionCollapsed = false;

block content
  include ../../components/ui/cards/review-card/review-card

  .swiper.main-slider
    .swiper-wrapper
      .swiper-slide
        +review-card({
          text: 'Победа стала для нас второй, по итогам работы 2018 года мы также заняли первой место в номинации «Организация сервиса». При этом, компания Тойота Мотор, третий год подряд признает нас лучшими в дилерской сети. Считаем, что это плоды регулярной работы по совершенствованию. Придерживаемся стратегии непрерывного улучшения наших бизнес-процессов и стараемся вовлечь персонал в достижение результата. Принцип – сделай сегодня лучше, чем сделал вчера, чтобы стать успешным завтра. Подтверждение статуса эффективного дилера значит, что наши идеи и старания по улучшению работы с клиентами дают результаты и мы все делаем правильно. Это также подкрепляется отзывами клиентов, удовлетворенностью сотрудников и выручкой.',

          user: {
            avatar: 'user-1.png',
            name: 'Василий Аверьянов',
            role: 'Директор Тойота Центр Вологда (компания МАРТЕН)'
          }
        })
      .swiper-slide
        +review-card({
          text: 'Победа стала для нас второй, по итогам работы 2018 года мы также заняли первой место в номинации «Организация сервиса». При этом, компания Тойота Мотор, третий год подряд признает нас лучшими в дилерской сети. Считаем, что это плоды регулярной работы по совершенствованию. Придерживаемся стратегии непрерывного улучшения наших бизнес-процессов и стараемся вовлечь персонал в достижение результата. Принцип – сделай сегодня лучше, чем сделал вчера, чтобы стать успешным завтра. Подтверждение статуса эффективного дилера значит, что наши идеи и старания по улучшению работы с клиентами дают результаты и мы все делаем правильно. Это также подкрепляется отзывами клиентов, удовлетворенностью сотрудников и выручкой.',

          user: {
            avatar: 'user-1.png',
            name: 'Василий Аверьянов',
            role: 'Директор Тойота Центр Вологда (компания МАРТЕН)'
          }
        })
      .swiper-slide
        +review-card({
          text: 'Победа стала для нас второй, по итогам работы 2018 года мы также заняли первой место в номинации «Организация сервиса». При этом, компания Тойота Мотор, третий год подряд признает нас лучшими в дилерской сети. Считаем, что это плоды регулярной работы по совершенствованию. Придерживаемся стратегии непрерывного улучшения наших бизнес-процессов и стараемся вовлечь персонал в достижение результата. Принцип – сделай сегодня лучше, чем сделал вчера, чтобы стать успешным завтра. Подтверждение статуса эффективного дилера значит, что наши идеи и старания по улучшению работы с клиентами дают результаты и мы все делаем правильно. Это также подкрепляется отзывами клиентов, удовлетворенностью сотрудников и выручкой.',

          user: {
            avatar: 'user-1.png',
            name: 'Василий Аверьянов',
            role: 'Директор Тойота Центр Вологда (компания МАРТЕН)'
          }
        })
      .swiper-slide
        +review-card({
          text: 'Победа стала для нас второй, по итогам работы 2018 года мы также заняли первой место в номинации «Организация сервиса». При этом, компания Тойота Мотор, третий год подряд признает нас лучшими в дилерской сети. Считаем, что это плоды регулярной работы по совершенствованию. Придерживаемся стратегии непрерывного улучшения наших бизнес-процессов и стараемся вовлечь персонал в достижение результата. Принцип – сделай сегодня лучше, чем сделал вчера, чтобы стать успешным завтра. Подтверждение статуса эффективного дилера значит, что наши идеи и старания по улучшению работы с клиентами дают результаты и мы все делаем правильно. Это также подкрепляется отзывами клиентов, удовлетворенностью сотрудников и выручкой.',

          user: {
            avatar: 'user-1.png',
            name: 'Василий Аверьянов',
            role: 'Директор Тойота Центр Вологда (компания МАРТЕН)'
          }
        })
      .swiper-slide
        +review-card({
          text: 'Победа стала для нас второй, по итогам работы 2018 года мы также заняли первой место в номинации «Организация сервиса». При этом, компания Тойота Мотор, третий год подряд признает нас лучшими в дилерской сети. Считаем, что это плоды регулярной работы по совершенствованию. Придерживаемся стратегии непрерывного улучшения наших бизнес-процессов и стараемся вовлечь персонал в достижение результата. Принцип – сделай сегодня лучше, чем сделал вчера, чтобы стать успешным завтра. Подтверждение статуса эффективного дилера значит, что наши идеи и старания по улучшению работы с клиентами дают результаты и мы все делаем правильно. Это также подкрепляется отзывами клиентов, удовлетворенностью сотрудников и выручкой.',

          user: {
            avatar: 'user-1.png',
            name: 'Василий Аверьянов',
            role: 'Директор Тойота Центр Вологда (компания МАРТЕН)'
          }
        })

