footer.footer
  .container
    .footer__section
      a(href="index.html" aria-label="Обновить страницу").logo.footer__logo
        img(src="./assets/images/conf-logo-footer.svg" alt="logo" width="120" height="60")

      .footer__section-side
        a(href="#" aria-label="")
          img(src="./assets/images/auto-logo.svg" alt="logo" width="120" height="60")
        a(href="#" aria-label="")
          img(src="./assets/images/avito-logo.svg" alt="logo" width="120" height="60")
    .footer__section
      span.footer__copyrights 2024. Все права защищены.
      a(href="https://www.avito.ru/legal/rules/privacy-policy" rel="noopener nofollow norefferer" target="_blank").footer__privacy Политика конфиденциальности
