extends ../../layouts/base-section/base-section

block variables
  -
    sectionTitle = "О премии"
    sectionDesc = '';
    sectionCls = 'about';
    sectionID = 'about';
    sectionCollapsed = true;

block content
  .about__grid
    .about__grid-item
      <p>Автодилер года - аналитический проект, в рамках которого выбираются Дилеры, автобренды и группы компаний, сумевшие показать лучшие результаты в области продаж, маркетинга, сервиса и клиентского обслуживания.</p>

      <p>
        | Аналитическое агентство «АВТОСТАТ» и онлайн-платформа «Авито Авто» информируют о старте профессионального рейтинга «Автодилер года – 2024».
        | На протяжении 10-лет мы выбираем лучшие холдинги и дилерские центры страны.
      </p>

      <p>В этом году премия возвращается в обновлённом формате и с дополнительными номинациями, в том числе для отдельных сотрудников отрасли.</p>

      <p>Ведь статус Автодилер года - это не просто клейм / бейдж - это доверие аудитории, наработанное многолетним опытом премии. </p>

      <p>Мероприятие всегда собирает широкие охваты в отрасли и гарантирует максимальную узнаваемость среди ваших потенциальных покупателей.</p>
    .about__grid-item
      img(src="./assets/images/about-img.png" alt="О премии" width="610" height="620")
