extends ../../layouts/base-section/base-section

block variables
  -
    sectionTitle = "О премии"
    sectionDesc = '';
    sectionCls = 'about';
    sectionID = 'about';
    sectionCollapsed = true;

block content
  p about

