.winners-new {
  background-image: url('../assets/images/sec-bg.png');
  background-size: cover;
  background-position: center;

  .base-title {
    color: var(--white);
  }

  &__grid {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    margin-bottom: 40px;

    &-item {
      width: calc(50% - 20px);
      @media (max-width: 960px) {
        width: calc(100%);
      }
      background-color: var(--white);

      .history-card__content-title {
        @extend %flex-column;
        gap: 16px;
        align-items: flex-start;
        padding: 0;

        &::before {
          position: static;
          top: 0;
          transform: none;
        }
      }
    }
  }
}
