extends ../../layouts/base-section/base-section

block variables
  -
    sectionTitle = "Результаты премии «Автодилер года 2022»"
    sectionDesc = '';
    sectionCls = 'winners';
    sectionID = 'winners';
    sectionCollapsed = false;

block content
  include ../../components/ui/cards/history-card/history-card

  //- .winners__video-section
  //-   button(type="button" aria-label="Воспроизвести")

  .winners__content
    .winners__item
      span.winners__item-title(data-modal-opener="winners-modal") Номинация «ОРГАНИЗАЦИЯ ПРОДАЖ НОВЫХ АВТОМОБИЛЕЙ»
      .winners__item-content
          +history-card({
            content: [
              {
                title: 'Номинация «ОРГАНИЗАЦИЯ ПРОДАЖ НОВЫХ АВТОМОБИЛЕЙ»',
                blocks: [
                  {
                    title: 'АВТОМОБИЛЬНЫЕ ХОЛДИНГИ',
                    content: `
                      Более 20 дилерских контрактов - КЛЮЧАВТО<br>
                      10 – 20 дилерских контрактов - Форвард-Авто<br>
                      Менее 10 дилерских контрактов - Автосеть РФ
                    `
                  },
                  {
                    title: 'ДИЛЕРСКИЕ ЦЕНТРЫ',
                    content: `
                      <b>Luxury сегмент</b>
                      РОССИЯ - АВИЛОН «Официальный дилер Rolls-Royce»
                      <b>Премиальный сегмент</b>
                      МОСКВА, САНКТ-ПЕТЕРБУРГ - BMW РОЛЬФ-Премиум Химки (РОЛЬФ)<br>
                      РЕГИОНЫ РОССИИ - BMW КЛЮЧАВТО Ставрополь (КЛЮЧАВТО)
                      <b>Массовый сегмент</b>
                      МОСКВА - Тойота Центр Лосиный Остров (БИЗНЕС КАР)<br>
                      САНКТ-ПЕТЕРБУРГ - РОЛЬФ Пулково, официальный дилер KIA (РОЛЬФ)<br>
                      ЦЕНТРАЛЬНЫЙ РЕГИОН - КорсГрупп, официальный дилер KIA в Туле<br>
                      ПРИВОЛЖСКИЙ РЕГИОН - KIA на Хасана Туфана, официальный дилер KIA в Набережных Челнах (ТрансТехСервис)<br>
                      ЮЖНЫЙ РЕГИОН - Тойота Центр Минеральные Воды (КЛЮЧАВТО)<br>
                      УРАЛ, СИБИРЬ, ДАЛЬНИЙ ВОСТОК - Тойота Центр Красноярск (Медведь Холдинг)
                    `
                  },
                ]
              },
            ]
          })
    .winners__item
      span.winners__item-title(data-modal-opener="winners-modal") Номинация «ОРГАНИЗАЦИЯ ПРОДАЖ АВТОМОБИЛЕЙ С ПРОБЕГОМ»
      .winners__item-content
          +history-card({
            content: [
              {
                title: 'Номинация «ОРГАНИЗАЦИЯ ПРОДАЖ АВТОМОБИЛЕЙ С ПРОБЕГОМ»',
                blocks: [
                  {
                    title: 'АВТОМОБИЛЬНЫЕ ХОЛДИНГИ',
                    content: `
                      Более 20 дилерских контрактов – РОЛЬФ<br>
                      10 – 20 дилерских контрактов – Fresh Auto<br>
                      Менее 10 дилерских контрактов – Максимум
                    `
                  },
                  {
                    title: 'ДИЛЕРСКИЕ ЦЕНТРЫ',
                    content: `
                      <b>Luxury сегмент</b>
                      АВИЛОН Официальный дилер Bentley
                      <b>Премиальный сегмент</b>
                      МОСКВА, САНКТ-ПЕТЕРБУРГ - Мерседес-Бенц АВИЛОН (Волгоградка) (Авилон)<br>
                      РЕГИОНЫ РОССИИ - Лексус – Казань (ТрансТехСервис)
                      <b>Массовый сегмент</b>
                      МОСКВА - Nissan Дмитровка (РОЛЬФ)<br>
                      САНКТ-ПЕТЕРБУРГ - Рено на Выборгском (Петровский)<br>
                      ЦЕНТРАЛЬНЫЙ РЕГИОН - LADA Орел (БН-Моторс)<br>
                      ПРИВОЛЖСКИЙ РЕГИОН - LADA Нижний Новгород (ЮНИКОР)<br>
                      ЮЖНЫЙ РЕГИОН - KIA КЛЮЧАВТО | Автомобили с пробегом Сочи<br>
                      УРАЛ, СИБИРЬ, ДАЛЬНИЙ ВОСТОК - Киа Центр Кемерово Юг Ай-Би-Эм
                    `
                  },
                ]
              }
            ]
          })
    .winners__item
      span.winners__item-title(data-modal-opener="winners-modal") Номинация «ОРГАНИЗАЦИЯ СЕРВИСА»
      .winners__item-content
          +history-card({
            content: [
              {
                title: 'Номинация «ОРГАНИЗАЦИЯ СЕРВИСА»',
                blocks: [
                  {
                    title: 'АВТОМОБИЛЬНЫЕ ХОЛДИНГИ',
                    content: `
                      Более 20 дилерских контрактов – РОЛЬФ<br>
                      10 – 20 дилерских контрактов – АвтоСпецЦентр<br>
                      Менее 10 дилерских контрактов – БЦР Моторс
                    `
                  },
                  {
                    title: 'ДИЛЕРСКИЕ ЦЕНТРЫ',
                    content: `
                      <b>Luxury сегмент</b>
                      РОССИЯ - АВИЛОН Официальный дилер Bentley
                      <b>Премиальный сегмент</b>
                      МОСКВА, САНКТ-ПЕТЕРБУРГ - Автодом BMW Санкт-Петербург<br>
                      РЕГИОНЫ РОССИИ - Лексус – Тюмень (Группа компаний КЛААС)
                      <b>Массовый сегмент</b>
                      МОСКВА - Тойота Центр Кунцево<br>
                      САНКТ-ПЕТЕРБУРГ - Рено на Софийской (Петровский)<br>
                      ЦЕНТРАЛЬНЫЙ РЕГИОН - Тойота Центр Вологда (МАРТЕН)<br>
                      ПРИВОЛЖСКИЙ РЕГИОН - Рено на Восстания Казань (КАН АВТО)<br>
                      ЮЖНЫЙ РЕГИОН - Тойота Центр Минеральные Воды КЛЮЧАВТО<br>
                      УРАЛ, СИБИРЬ, ДАЛЬНИЙ ВОСТОК - Тойота Центр Красноярск (Медведь Холдинг)
                    `
                  },
                ]
              }
            ]
          })
    .winners__item
      span.winners__item-title(data-modal-opener="winners-modal") Маркетинг автомобилей с пробегом
      .winners__item-content
          +history-card({
            content: [
              {
                title: 'Номинация «Маркетинг автомобилей с пробегом»',
                blocks: [
                  {
                    title: 'ДИЛЕРСКИЕ ЦЕНТРЫ',
                    content: `
                      <b>Премиальный сегмент</b>
                      Россия - РОССИЯ ПАНАВТО
                      <b>Массовый сегмент</b>
                      МОСКВА, САНКТ-ПЕТЕРБУРГ<br>
                      СКЛАД ОТ 150 АВТОМОБИЛЕЙ - РОЛЬФ Звезда Столицы Варшавка Автомобили с пробегом
                      <b>Регионы</b>
                      СКЛАД ОТ 150 АВТОМОБИЛЕЙ - Боравто Эксперт на Остужева<br>
                      СКЛАД ДО 150 АВТОМОБИЛЕЙ - ГК "АсАвто"
                    `
                  },
                  {
                    title: 'МАРКЕТИНГ АВТОМОБИЛЕЙ С ПРОБЕГОМ МОСКВА, САНКТ-ПЕТЕРБУРГ',
                    content: `
                      1 место - Шеремет Анна (АвтоСпецЦентр)<br>
                      2 место - Солдатова Лилия (Major Auto)<br>
                      3 место - Патрина Наталья (КЛЮЧАВТО)
                    `
                  },
                  {
                    title: 'МАРКЕТИНГ АВТОМОБИЛЕЙ С ПРОБЕГОМ РЕГИОНЫ',
                    content: `
                      1 место - Курпек Алевтина (БОРАВТО)<br>
                      2 место - Железникова Ксения (Сура-Моторс)<br>
                      3 место - Шамарина Екатерина (EXPOCAR)
                    `
                  },
                ]
              }
            ]
          })
    .winners__item
      span.winners__item-title(data-modal-opener="winners-modal") Номинация «ЛУЧШИЙ КЛИЕНТСКИЙ ОПЫТ»
      .winners__item-content
          +history-card({
            content: [
              {
                title: 'Номинация «ЛУЧШИЙ КЛИЕНТСКИЙ ОПЫТ»',
                blocks: [
                  {
                    title: 'БРЕНДЫ - ПРЕМИАЛЬНЫЙ СЕГМЕНТ',
                    content: `
                      VOLVO
                    `
                  },
                  {
                    title: 'БРЕНДЫ - МАССОВЫЙ СЕГМЕНТ',
                    content: `
                      SUBARU
                    `
                  },
                  {
                    title: 'ОФИЦИАЛЬНЫЙ ДИЛЕР - НОВЫЕ АВТОМОБИЛИ',
                    content: `
                      АРТАН Официальный дилер Volkswagen в Нижнем Новгороде
                    `
                  },
                  {
                    title: 'ОФИЦИАЛЬНЫЙ ДИЛЕР - АВТОМОБИЛИ С ПРОБЕГОМ',
                    content: `
                      KIA Центр Зубово
                    `
                  },
                  {
                    title: 'НЕЗАВИСИМЫЙ ДИЛЕР АВТОМОБИЛИ С ПРОБЕГОМ',
                    content: `
                      ПРОХОР
                    `
                  },
                ]
              }
            ]
          })
    .winners__item
      span.winners__item-title(data-modal-opener="winners-modal") Номинация «КОММЕРЧЕСКИЙ ТРАНСПОРТ»
      .winners__item-content
          +history-card({
            content: [
              {
                title: 'Номинация «КОММЕРЧЕСКИЙ ТРАНСПОРТ»',
                blocks: [
                  {
                    title: 'ДИЛЕРЫ - СЕЛЬХОЗТЕХНИКА',
                    content: `
                      BOSTON TECHNIC
                    `
                  },
                  {
                    title: 'ДИЛЕРЫ - ДОРОЖНО-СТРОИТЕЛЬНАЯ ТЕХНИКА',
                    content: `
                      БИГЦЕНТР
                    `
                  },
                  {
                    title: 'ДИЛЕРЫ - ГРУЗОВИКИ И ПРИЦЕПЫ',
                    content: `
                      ТРАНЗИТ-ДОН
                    `
                  },
                ]
              }
            ]
          })
    .winners__item
      span.winners__item-title(data-modal-opener="winners-modal") Номинация «ЛЕГКИЙ КОММЕРЧЕСКИЙ ТРАНСПОРТ»
      .winners__item-content
          +history-card({
            content: [
              {
                title: 'Номинация «ЛЕГКИЙ КОММЕРЧЕСКИЙ ТРАНСПОРТ»',
                blocks: [
                  {
                    content: `
                      ОФИЦИАЛЬНЫЙ ДИЛЕР - АВТОРИТЭЙЛ
                    `
                  }
                ]
              }
            ]
          })

  a(href="https://www.autostat.ru/press-releases/48363/" rel="noopener nofollow norefferer" target="_blank").main-btn Читать подробнее на сайте
