extends ../../layouts/base-section/base-section

block variables
  -
    sectionTitle = "Результаты премии «Автодилер года 2022»"
    sectionDesc = '';
    sectionCls = 'winners';
    sectionID = 'winners';
    sectionCollapsed = false;

block content
  p winners

