include ../../components/ui/main-btn/main-btn
section.hero
  .container.hero__container
    .hero__content
      .hero__tags
        span.hero__tag Новый формат
        span.hero__tag Новые номинации
        span.hero__tag Новые лидеры

      h1.hero__title
        span “АВТОДИЛЕР ГОДА -  2024”
        span Новые вершины

      p.hero__text Легендарная отраслевая премия возвращается!

      .hero__place
        span 8 октября 2024 18:00
        span Москва, VK Stadium

      +main-btn({
        text: 'Подать заявку на участие'
      })

