extends ../../layouts/base-section/base-section

block variables
  -
    sectionTitle = "Что вас ждет"
    sectionDesc = '';
    sectionCls = 'features';
    sectionID = 'features';
    sectionCollapsed = false;

block content
  ul.features__list
    li.features__list-item Торжественная церемония награждения победителей
    li.features__list-item After-party со спец гостем

