h1,
h2,
h3,
h4,
h5,
h6,
.base-title,
.main-title {
  margin-top: 0;
  margin-bottom: 1.2em;
  font-weight: var(--fw-b);
}

p {
  margin-top: 0;
  margin-bottom: 1.5em;
  font-weight: var(--fw-r);
}

.base-title {
  display: block;
  font-size: clamp(28px, 3.8vw, 48px);
  font-weight: var(--fw-b);
  text-transform: uppercase;
  margin-bottom: clamp(30px, 3.6vw, 60px);
  color: var(--base-title-color);
}

.base-text {
  display: block;
  font-size: 16px;
  color: var(--base-text-color);
}

.base-subtitle {
  display: inline-block;
  font-weight: 500;
  font-size: clamp(18px, 2.6vw,24px);
}

.text-italic {
  font-style: italic;
}

.text-underlined {
  text-decoration: underline;
}

.text-center {
  text-align: center;
}

.ff {
  &-secondary {
    font-family: var(--secondary-font);
  }

  &-accent {
    font-family: var(--accent-font);
  }
}

.fw {
  &-h {
    font-weight: var(--fw-h);
  }

  &-xb {
    font-weight: var(--fw-xb);
  }

  &-b {
    font-weight: var(--fw-b);
  }

  &-sb {
    font-weight: var(--fw-sb);
  }

  &-m {
    font-weight: var(--fw-m);
  }

  &-r {
    font-weight: var(--fw-r);
  }

  &-l {
    font-weight: var(--fw-l);
  }

  &-xl {
    font-weight: var(--fw-xl);
  }

  &-t {
    font-weight: var(--fw-t);
  }
}
